
head {
    background-color: black;
    color: white;
}

body {
      background-color: black;
      color: white;
}

.navbar-brand {
    background: #816cad;
    color: rgb(255, 255, 255);
}

.navbar-collapse {
    background: #816cad;
    color: rgb(255, 255, 255);
}

img { 
    position: relative;
    top: 2px; 
}
